.tiles{
	width : 30%;
	max-height : 60px;
	padding-bottom:30%;
	background: white;
	float:left;
	margin : 1.66%;
	border:1px solid black;
	border-radius:10%;
	transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	text-align: center;
	}
	.slate{
		width:100%;
		max-height : 60px;
		border:1px solid black;

	}
	.squares{
		max-width : 200px;
		margin:0 auto;
		margin:5px auto;
		padding:0;
		
	}
	html, body { 
		min-height: 100%; 
	}
	body{
		background: linear-gradient(lightsteelblue, palegoldenrod, lightslategrey);
		background-size: cover;
		background-repeat: no-repeat;
	}	
	.tiles{
		background-size: 100% 100%;
	}
	.win1{
		background : red;
	}
	.win2{
		background : blue;
	}
	#start{
		margin:0;
		display:inline;
		height:38px;
	}
	#winner{
		display: inline;
		overflow:scroll;
		font-size: small;
	}
	.freeze { 
		pointer-events: none;
	 }
	 .slate{
		 overflow:scroll;
	 }

	 .wn{
		color:green;
	}
	.names{
		font-size:small;
	}
	#panel{
		background:rgb(221, 217, 217);
		text-align:center;
	}
	#footer {
		padding-top:150px;
	 }